$maxMobile: 767px;
$minSmall: 768px;
$maxSmall: 991px;
$minMedium: 992px;
$maxMedium: 1199px;
$minLarge: 1200px;

$aquaColor: #33ccc5;
$orangeColor: #fa7f6d;
$blueColor: #4771cb;
$blueTextColor: #088ec3;

$sectionMargin: 120px;