.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.between-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;	
}